@import url("https://fonts.googleapis.com/css?family=Open+Sans");
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #bbb;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #bbb;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #bbb;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #bbb;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #bbb;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #bbb;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #bbb;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #bbb;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

body {
  counter-reset: gallery-combine-counter;
}

.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #e6e6e6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color: #e6e6e6;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-small {
  font-size: 13px;
  padding: 5px 10px;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  background-color: #4a77d4;
  background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(top, #6eb6de, #4a77d4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #3762bc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  filter: none;
  background-color: #4a77d4;
}

.btn-block {
  width: 100%;
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  position: relative;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: #f5f9fb;
}

.login {
  position: relative;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -150px;
  width: 300px;
  height: 300px;
}

.logout .btn {
  width: 200px;
}

h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
  margin: 40px auto 10px;
  display: inline-block;
}
.hide {
  display: none !important;
}
textarea {
  resize: vertical;
  min-height: 60px;
}
input, textarea {
  width: 100%;
  margin: 0;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
  color: #000;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  border: 2px solid rgb(102, 143, 162);
  border-radius: 0 0 4px 4px;
  /*box-shadow: inset 0 -5px 37px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);*/
  -webkit-transition: box-shadow .3s ease, border-color .3s ease;
  -moz-transition: box-shadow .3s ease, border-color .3s ease;
  -o-transition: box-shadow .3s ease, border-color .3s ease;
  -ms-transition: box-shadow .3s ease, border-color .3s ease;
  transition: box-shadow .3s ease, border-color .3s ease;
  box-shadow: inset 0 0px 34px rgba(102, 143, 162, 0.16);
}

input:focus, textarea:focus {
  box-shadow: inset 0 0px 34px rgba(73, 197, 255, 0.15);
  border-color: #62c8f7;
}
input.error, textarea.error {
  border-color: rgba(255, 0, 0, 0.86);
}
table.form td label {
  width: 100%;
  display: block;
}
table.form td label span {
    background: transparent;
    color: #000;
    text-shadow: none;
    width: auto;
    display: table-cell;
    padding: 7px 0 0;
}
input[type="radio"] {
  background: transparent;
  box-shadow: none;
  float: left;
  width: auto;
  margin: 9px 7px  0px  3px;
}
.form {
  position: relative;
  margin: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0);
}
.form input.btn {
  width: 50%;
  margin: 0 auto;
}
table.form {
  padding: 0 20px;
}
table.form tr {
    vertical-align: top;
}
table.form td {
  text-align: left;
  width: 50%;
  padding: 10px 20px;
  vertical-align: top;
  /* border-bottom: 10px solid rgb(255, 255, 255); */
  margin: 0;
}
table.form td + td {
}
table.form td span.subtitle {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  padding-bottom: 7px;
  width: 100%;
  padding: 7px 11px;
  background: rgb(102, 143, 162);
  border-radius: 4px 4px 0px 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
}
table.form td span.subtitle sup {
  color: red;
}
table.form td span.subtitle i {
  font-style: normal;
  background: rgb(60, 78, 107);
  padding: 0px 4px 1px;
  margin: 0 0 0 3px;
  border-radius: 3px;
  font-size: 12px;
}
table.form td span.subtitle i.right {
  float: right;
  padding: 2px 4px;
}
table.form td span.subtitle i.remove {
  float: right;
  background: #e42828;
  padding: 2px 5px;
  margin-left: 8px;
  cursor: pointer;
}
table.form td span.subtitle i.right b {
  font-weight: normal;
}
table.form td span.subtitle i.right b:before {
  content: counter(gallery-combine-counter);
  counter-increment: gallery-combine-counter;
}
table.form .btn {
  margin: 20px auto 10px;
}
table.form .result {}
table.form .success {}
table.form .result .error {
  color: #ce2b2b;
  display: block;
  padding: 10px 3px 0 0;
}
.form.col-2 {
  width: 50%;
  float: left;
}
.result .success {
  color: #1aa92e;
  display: block;
  padding: 10px 3px 0 0;
}

body > .main {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* Tab Menu */
#tabs a.active, #tabs-content > div.active {display: block;}
#tabs {
  width: 250px;
  position: fixed;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 1;
  vertical-align: top;
  display: table-cell;
  background: rgb(32, 31, 49);
}
#tabs li {
  width: 100%;
  height: auto;
  float: left;
  box-sizing: border-box;
}
#tabs li.link a i.fa {margin: 0 0 0 6px;}
#tabs li.link a:hover {
    border-left: 2px solid transparent;
    background: #6b3c3c;
}
#tabs li a {
  color: #fff;
  padding: 16px 20px;
  font-size: 14px;
  width: 100%;
  display: block;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  border-left: 2px solid transparent;
  transition: all 200ms ease-out;
}
#tabs a.active:after {
  content: '';
  display: block;
}
#tabs a.active, #tabs a.active:hover {
  border-left: 2px solid #fff;
  background: #3c4e6b;
}
#tabs li a:hover {
  border-left: 2px solid transparent;
  background: #3c4e6b;
}

#tabs-content {
  display: table-cell;
  position: relative;
  padding: 0 0 0 250px;
  height: 100%;
}
#tabs-content > div {
    display: none;
    width: 100%;
    height: 100%;
    float: left;
}
#tabs-content h2 {
    color: #000;
    font-size: 1.2em;
    text-align: left;
    padding: 10px 40px 0;
}
#tabs-content .form.col-2 h2 {
    padding: 0;
}
#tabs-content > div.active {}
#tabs-content td.control-btn {
  padding-top: 0;
  padding-bottom: 0;
}
#tabs-content td.control-btn button {
  width: auto;
  float: right;
  margin: 0;
}














