/**
 *   dialog-box
 */
.dialog-box-overlay {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.dialog-box {
  z-index: 999999;
  position: fixed !important;
  left: 0 !important;
  width: 100%;
  margin: 0 auto;
  display: none !important;
  right: 0 !important;
  box-sizing: border-box;
  top: 0 !important;
  padding: 0 !important;
  box-shadow: 0 10px 30px 3000px rgba(51, 51, 51, 0.7), 0px 0px 20px 4px rgba(0, 0, 0, 0.79);
  border: 0px solid #333333;
  visibility: hidden;
  opacity: 0;
  bottom: 0 !important;
  -webkit-transition: all 180ms ease-in;
  transition: all 180ms ease-in;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(6, 6, 6, 0.59) !important;
  width: 100% !important;
  height: 100% !important;
}
.dialog-box > div.active {
  /*  overflow-y: scroll !important;
  overflow-x: hidden !important;*/
  height: 100% !important;
  width: 100% !important;
  position: relative;
  margin: 30px auto;
  }
@media (max-width: 600px) {
  .dialog-box {
    width: 90%;
    transition: none !important;
  }
}

@media (min-width: 1000px) {
  .dialog-box {
  }
}

#dialog-box-overlay {
  display: none;
  visibility: hidden;
  z-index: 999998;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#dialog-box-overlay.active {display: block; visibility: visible;}
body.dialog-box-opened {
  overflow: hidden;
}
.dialog-box.dialog-box--active {
  visibility: visible;
  opacity: 1;
  display: block !important;
}

.dialog-box .dialog-box__close {
  background: url('img/fancybox.png') -40px 0 no-repeat;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
  z-index: 99999999;
}

.dialog-box .dialog-box__close:hover {
  color: #E74C3C;
}

.dialog-box .dialog-box__title {
  font-size: 2rem;
  font-size: 27px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 30px 0;
}

.dialog-box .dialog-box__content {
  font-size: 1.1rem;
  line-height: 2rem;
}
.dialog-box > div {
  top: 0;
  margin: 0 auto;
  box-shadow: none;
}
.dialog-box.dialog-box--active > div {
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  margin: 30px auto 30px;
  top: 20%;
  box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.65);
}
.dialog-box.popup-form .popup-form-wrapper {
  display: none;
  transform: translate(0, 0);
  position: relative;
  background: #fff;
}
.dialog-box.popup-form .popup-form-wrapper.active {
  display: block;
  margin: 0 auto;
}
.dialog-box.popup-form .result-msg .success-msg {
  display: none;
  margin: 30px auto;
}
.dialog-box .result-msg .success-msg > div {margin-left: -15px;}
.dialog-box.popup-form .result-msg .success-msg.active {
  display: block;
}
.dialog-box .result-msg {display: none;}
.dialog-box .result-msg.active {
  display: block;
  margin: 30px auto;
  height: auto !important;
}

/* Потому что уменьшили left на 25px всех div и input */
#output-msg .success-msg > div input,
#output-msg .success-msg > div div,
.dialog-box.popup-form .popup-form-wrapper > div div,
.dialog-box.popup-form .popup-form-wrapper > div input,
.dialog-box.popup-form .result-msg .success-msg > div div,
.dialog-box.popup-form .result-msg .success-msg > div input {
  margin-left: 25px !important;
}

/**
 *   Error tooltip
 */

.tooltip-error {display: none;}
.tooltip-error.active {display: block;}
.tooltip-error div {
  position: relative;
  display: inline;
  width: auto;
  top: 0;
  z-index: 999999;
}
.tooltip-error div span {
  position: relative;
  width: auto;
  color: #4a4a4a;
  display: inline-block;
  background: #ffffff;
  height: 35px;
  white-space: nowrap;
  line-height: 35px;
  font-family: Tahoma;
  font-size: 13px;
  padding: 0px 9px 0 35px;
  text-align: left;
  border: 1px solid #c5c5c5;
  visibility: hidden;
  border-radius: 3px;
  box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.25), 1px -1px 7px 0px rgba(0, 0, 0, 0);
}
.tooltip-error div span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 20px;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-bottom: 7px solid #ffffff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.tooltip-error div span:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 20px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #c5c5c5;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.tooltip-error.active div span {
  visibility: visible;
  opacity: 1;
  top: 6px;
  left: 0;
  margin-left: 0;
  z-index: 999;
}
.tooltip-error.active div span i {
  background: url('img/warning-icon.png') 0 0 no-repeat;
  width: 19px;
  height: 19px;
  display: block;
  padding: 0;
  position: absolute;
  top: 7px;
  left: 9px;
}
.error {
  border-color: red !important;
}

#preload-imgs:after {
  content: url('img/warning-icon.png') url('img/fancybox.png');
  display: none; 
}

/* Youtube video */
.youtube-video {
  background: #000;
}
.youtube-video, .youtube-video .play-button {cursor: pointer;}
.youtube-video .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube-video .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube-video .play-button,
.youtube-video .play-button:before {
    position: absolute;
}
.youtube-video .play-button,
.youtube-video .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}

/* Scrollbox override */
.dialog-box.popup-form .popup-form-wrapper .mCSB_container,
.dialog-box.popup-form .popup-form-wrapper .mCSB_container > div,
.dialog-box.popup-form .popup-form-wrapper .mCSB_scrollTools, 
.dialog-box.popup-form .popup-form-wrapper .mCSB_scrollTools div {
  margin-left: 0 !important;
  z-index: 9999999;
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {left: 6px;}


